{% include top.html %}

<a name="naomi"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Naomi Appelman</h2>
        <p class="lead">Rechtsgeleerdheid, Wijsbegeerte</p>
        <ul class="list-inline">
          <li>
            <a href="mailto:nmidappelman@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/naomiAppelman" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/naomi.jpg" alt="naomi">
      </div>
    </div>
  </div>
</div>

<a name="lianne"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Lianne Hooijmans</h2>
        <p class="lead">Rechtsgeleerdheid, Wijsbegeerte</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="img/lianne.jpg" alt="lianne">
      </div>
    </div>
  </div>
</div>

<a name="gijs"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Gijs Doeleman</h2>
        <p class="lead">Future Planet Studies, Wijsbegeerte</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/gijs.jpg" alt="gijs">
      </div>
    </div>
  </div>
</div>

<a name="kavel"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Kavel Ozturk</h2>
        <p class="lead">Biologie</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="http://i.imgur.com/2kY69mo.jpg" alt="kavel">
      </div>
    </div>
  </div>
</div>

<a name="julia"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Julia van Rosmalen</h2>
        <p class="lead">Kunstgeschiedenis</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/julia.jpg" alt="julia">
      </div>
    </div>
  </div>
</div>

<a name="yvo"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Yvo Greydanus</h2>
        <p class="lead">Wijsbegeerte</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="img/yvo.jpg" alt="yvo">
      </div>
    </div>
  </div>
</div>

<a name="lennard"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Lennard van Uffelen</h2>
        <p class="lead">Slavische talen en culturen</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/lennard.jpg" alt="lennard">
      </div>
    </div>
  </div>
</div>

<a name="jouke"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Jouke Huijzer</h2>
        <p class="lead">Politicologie</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="img/jouke.jpg" alt="jouke">
      </div>
    </div>
  </div>
</div>

<a name="tivadar"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Tivadar Vervoort</h2>
        <p class="lead">Wijsbegeerte</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/tivadar.jpg" alt="tivadar">
      </div>
    </div>
  </div>
</div>

{% include bottom.html %}
