{% include top.html %}

<a name="alex"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Alex Tess Rutten</h2>
        <p class="lead">Ik ben Alex Tess Rutten, vierdejaars literatuurwetenschap. Buiten schijnt nu de zon maar in de krochten van bestuurlijk UvA is het helaas nog steeds erg donker. Al jaren laten managers en bestuurders zien dat ze andere belangen nastreven dan die van studenten en docenten. In de studentenraad hebben we een hele concrete mogelijkheid om de bestuurders terecht te wijzen en om plannen die het studentenbelang niet versterken tegen te houden.Volgend jaar wil ik mij hier met man en macht voor inzetten. Beleid moet gemaakt worden door de mensen die ècht snappen wat het inhoudt: studenten en docenten. Democratisering en decentralisatie zijn nodig om onderzoek en onderwijs op de UvA zo kwalitatief mogelijk te maken. Opleidingen moeten dan ook zelf kunnen beslissen over semesterindelingen, aantal contacturen, bindend studieadvies en honoursprogramma's.</p>
        <ul class="list-inline">
          <li>
            <a href="mailto:rutten.at@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
          </li>
          <li>
            <a href="" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/1alex.jpg" alt="alex">
      </div>
    </div>
  </div>
</div>

<a name="lianne"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Lianne Hooijmans</h2>
        <p class="lead">Misschien ken je mij al; afgelopen jaar zat ik ook in de studentenraad. Ik hou nog steeds van koffie, groen en inmiddels iets minder van mensen. De nodige beleidsveranderingen hebben nog niet volledig plaatsgevonden. Daarom blijf ik mij volgend jaar inzetten voor decentralisatie en democratie, dat is immers de basis voor een bloeiende academische gemeenschap. Het Maagdenhuis is nog niet van mij af.</p>
        <ul class="list-inline">
          <li>
            <a href="mailto:liannehooijmans92@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/lianne.hooijmans.3" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="img/2lianne.jpg" alt="lianne">
      </div>
    </div>
  </div>
</div>

<a name="daan"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Daan Doeleman</h2>
        <p class="lead">Ik studeer Rechten en Filosofie. Mijn betrokkenheid bij universiteitspolitiek begon eind 2014 vlak voordat het beruchte Profiel 2016 verscheen. Met een groep medestudenten stond ik aan de wieg van Humanities Rally. In de maanden daarop leerde ik al vergaderend dat er veel beter kan aan de universiteit en er vooral veel fout gaat doordat maatregelen opgelegd worden door mensen die ver afstaan van specialistisch onderzoek en onderwijs. Ik hoop mij volgend jaar in te kunnen zetten voor docentenautonomie. Ik zal bestuurders op de politieke keuzes aanspreken die schuilen achter hun vermeend technocratisch beleid.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/3daan.jpg" alt="Daan">
      </div>
    </div>
  </div>
</div>

<a name="reimer"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Reimer van den Hoek</h2>
        <p class="lead">Ik ben vierdejaarsstudent natuur- en sterrenkunde. Dit jaar zit ik als afgevaardigde in zowel de centrale studentenraad als de facultaire raad van de FNWI. Daar heb ik mijn best gedaan om de UvA enkele stappen in de goede richting te laten zetten. Maar er moet nog veel gebeuren. De UvA moet een universiteit worden waar studenten en docenten zelf kunnen bepalen hoe hun onderwijs wordt ingevuld en kwaliteit niet bedreigt wordt door blinde regelzucht. Beleid moet ruimte maken voor de grote verschillen die de UvA kent, bestuurders moeten alleen een faciliterende rol spelen en er moet, op toegankelijk wijze, ruimte geboden worden voor inspraak op alle niveaus.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="img/4reimer.jpg" alt="Reimer">
      </div>
    </div>
  </div>
</div>

<a name="michele"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Michele Murgia</h2>
        <p class="lead">Op nummer 5 van De Decentralen staat Michele Murgia, student filosofie. Hij schreef twee Haiku's voor jullie.</p>
        <p class="lead">En de fusie dan?</p>
        <p class="lead">Sprak de man uit het bestuur</p>
        <p class="lead">Toen sloeg zijn laatste uur</p>
        <p class="lead">----------------------------------</p>
        <p class="lead">Veranderingen—</p>
        <p class="lead">Ombuigingen van regels</p>
        <p class="lead">Zonder bloed geen haast</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/5michele.jpg" alt="michele">
      </div>
    </div>
  </div>
</div>

<a name="ali"></a>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Ali Yurtseven</h2>
        <p class="lead">Geschiedenis</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="img/6ali.jpg" alt="ali">
      </div>
    </div>
  </div>
</div>

<a name="marlise"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Marlise Huijzer</h2>
        <p class="lead">Algemene Sociale Wetenschappen</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/7marlise.jpg" alt="marlise">
      </div>
    </div>
  </div>
</div>


{% include bottom.html %}
