{% include top.html %}


<a name="nieuws"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-sm-12">
        <div class="clearfix"></div>
        <h2 class="section-heading"> Nieuwsberichten </h2>
        <b class="lead"> Hieronder vindt u relevante nieuwsberichten over De Decentralen  </b>
      </div>
    </div>
  </div>
</div>

<a name="nieuws"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-sm-12">
        <div class="clearfix"></div>
        <h2 class="section-heading"> 16 april 2015, Folia - "De Decentralen: een nieuwe centrale studentenpartij die inzet op decentralisatie."</h2>
        <a href="http://www.folia.nl/actueel/89156/de-decentralen-een-nieuwe-centrale-studentenpartij-die-inzet-op-decentralisatie">Lees het artikel op folia.nl </a></p>
        </ul>
      </div>
    </div>
  </div>
</div>

{% include bottom.html %}
